<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353232616395-plrjsrgjf57oq638408np1eep4fdhgdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353232616395-plrjsrgjf57oq638408np1eep4fdhgdd</string>
	<key>API_KEY</key>
	<string>AIzaSyCY_71bUmRTXw8_QLZMJtlX9wAVnB8yS2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>353232616395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boraerdem.YemekTarifi</string>
	<key>PROJECT_ID</key>
	<string>yemektarif-8545c</string>
	<key>STORAGE_BUCKET</key>
	<string>yemektarif-8545c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353232616395:ios:dd4a5114b8c199be12544e</string>
</dict>
</plist>